<h3>Myanmar Mercury Garment MFG.CO.,LTD</h3>
<table>

	<tr><td rowspan="4"><img src="images/nav/settings.png"/></td><td valign="top">Shop-1</td><td>No-173, Banyardala Road, Front Side of Yuzana Plaza , Ma Aue Gone Qr, Tamwe Tsp, YANGON <br/> Ph : 01-201943, 8619152, HP : 09-5018102 09-8631782</td></tr>
	<tr><td valign="top">Shop-2</td><td>N0-14, Room(4) Back Side of Yuzana Plaza, Sabai St, Mingalar Taung Nyunt Tsp, YANGON <br/> Ph : 01-296030, 8619187, HP : 09-5181560 </td></tr>
	<tr><td valign="top">Shop-3</td><td>c-12/13, Underground, Mann Myanmar Plaza, 84 Road, Bet(27x28) Street , Zay Cho, MANDALAY <br/> Ph : 09-91040119, HP : 09-5127303, 09-422444405</td></tr>
	<tr><td valign="top">Shop-4</td><td>No.4, Shwe Kant Kaw Villa, Thar Thana Beitman St, Phant Than Quarter, MAWLAMYINE <br/> Ph : 057-21737, HP : 09-5501029</td></tr>
	<tr><td colspan="2">Date </td><td>No .</td></tr>
	<tr><td>Customer</td><td>Address</td><td>Tel</td></tr>
</table>

<table>
	<tr>
	<th>No</th>
		<th>Code No</th>
		<th>Description</th>
		<th>Qty</th>
		<th>Rate</th>
		<th>Amount</th>
	</tr>

	<tr>
		<td></td>
		<td></td>
		<td></td>

		<td></td>

		<td></td>

		<td></td>

	</tr>


</table>